<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reproduzir Vídeo</title>
  </head>
  <body>
    <h2>Reproduzindo: {{ video.filename }}</h2>
    <video width="320" height="240" controls>
      <source
        src="{{ url_for('static', filename='uploads/' + video.filename) }}"
        type="{{ mime_type }}"
      />
      Seu navegador não suporta o elemento de vídeo.
    </video>
  </body>
</html>
