<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <title>Reproduzir Vídeo</title>
  </head>
  <body>
    <h2>Reproduzindo: {{ video.filename }}</h2>
    <video id="videoPlayer" width="320" height="240" controls>
      <source
        src="{{ url_for('static', filename='uploads/' + video.filename) }}"
        type="{{ mime_type }}"
      />
      Seu navegador não suporta o elemento de vídeo.
    </video>
    <button class="button-default">
      <a href="{{ url_for('main.list_videos') }}" class="btn">Voltar</a>
    </button>
    <!-- Carregar o Socket.io -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha384-Xz4MNd5IrLa1Zf6TFD6sUpK+pjZeedE+r1U2R5Zu3zRn1MD0Fs6ljjWSzvDycVxh"
      crossorigin="anonymous"
    ></script>

    <script>
      var videoName = "{{ video.filename }}";
      var socket = new WebSocket("ws://localhost:5678/" + videoName);
      var videoData = [];
      var videoPlayer = document.getElementById("videoPlayer");
      var videoId = parseInt("{{ video.id }}"); // Converta o ID do vídeo em um número e Armazena o ID do vídeo em uma variável JavaScript

      socket.onopen = function (event) {
        console.log("Conexão aberta:", event);
      };

      socket.onmessage = function (event) {
        videoData.push(event.data);
        const blob = new Blob(videoData, { type: "video/mp4" });
        videoPlayer.src = URL.createObjectURL(blob);
        videoPlayer.play();
      };

      socket.onerror = function (error) {
        console.log("Erro:", error);
      };

      socket.onclose = function (event) {
        if (event.wasClean) {
          console.log("Conexão fechada limpa", event.reason);
        } else {
          console.log("Desconexão", event.reason);
        }
      };
    </script>
  </body>
</html>
