<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <title>Reproduzir Vídeo</title>
  </head>
  <body>
    <h2>Reproduzindo: {{ video.filename }}</h2>
    <video width="320" height="240" controls>
      <source
        src="{{ url_for('static', filename='uploads/' + video.filename) }}"
        type="{{ mime_type }}"
      />
      Seu navegador não suporta o elemento de vídeo.
    </video>
    <button>
      <a href="{{ url_for('main.list_videos') }}" class="btn">Voltar</a>
    </button>
    <!-- Carregar o Socket.io -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha384-Xz4MNd5IrLa1Zf6TFD6sUpK+pjZeedE+r1U2R5Zu3zRn1MD0Fs6ljjWSzvDycVxh"
      crossorigin="anonymous"
    ></script>

    <script>
      var socket = io.connect(
        "http://" + document.domain + ":" + location.port
      );

      socket.on("connect", function () {
        // Uma vez conectado, você pode emitir e ouvir eventos.
        socket.emit("play_video", { data: "I want to play a video!" });
      });

      socket.on("message", function (data) {
        console.log(data); // Isso imprimirá 'This is a message from the server.'
        // Aqui você colocaria a lógica para renderizar os chunks de vídeo recebidos.
      });
    </script>
  </body>
</html>
