<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='static/styles.css') }}"
    />

    <title>Upload de Vídeo</title>
  </head>
  <body>
    <h2>Upload de Vídeo</h2>

    <form id="uploadForm" enctype="multipart/form-data">
      <label for="videoFile">Selecione um vídeo:</label>
      <input
        type="file"
        id="videoFile"
        name="file"
        accept="video/*"
        required
      /><br /><br />

      <label for="description">Descrição (opcional):</label>
      <textarea
        id="description"
        name="description"
        rows="4"
        cols="50"
      ></textarea
      ><br /><br />

      <input type="submit" value="Upload" />
    </form>

    <a href="{{ url_for('main.list_videos') }}" class="btn"
      >Vídeos Carregados</a
    >

    <div id="response"></div>

    <script>
      document
        .getElementById("uploadForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          var formData = new FormData(event.target);
          fetch("/upload", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("response").textContent = data.message;
            })
            .catch((error) => {
              console.error("Error:", error);
              document.getElementById("response").textContent =
                "Erro ao fazer o upload.";
            });
        });
    </script>
  </body>
</html>
